* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

li {
    display: inline-block;
    margin-right: 4.5rem;
    margin-top: 1.9rem;
    color: rgb(190, 183, 183);
    font-size: .85rem;

    &:hover {
        color: white;
    }
    a {
        &:hover {
            color: white;
        } 
    }
   
}

ul {
    margin-left: 2rem;
}
body {
    overflow: hidden;
    background-color: rgb(17, 17, 17);
}


nav {
font-family: 'Open Sans', sans-serif;
background-color: rgb(8, 8, 8);
height: 4rem;
margin-top: -1rem;
margin-right: -1.7rem;
text-align: center;
}

.type {
    display: inline-block;
    border: 2.3px solid rgb(255, 255, 255);
    padding-right: .2rem;
    padding-left: .2rem;
    padding-top: .1rem;
    padding-bottom: .1rem;
    transform: translateY(-.2rem);
    border-radius: 25%;
    font-size: .8rem;
}

.href {
    text-decoration: none;
    color: white;
}

.iphonetext {
    transform: translate(45.5%, 45%);
    font-size: 1.8rem;
    font-family: 'Open Sans', sans-serif;
    color: white;
    animation: slide-top 3.5s forwards !important;

}

b {
    font-weight: 600 !important;
    font-family: sans-serif;
}

.icon {
    transform: scale(1.2);
}
.icons {
    transform: scale(1.4);
}

.image {
    transform: scale(.44);
    position: relative;
    top:-57.6em;
    left: 6rem;
    filter: brightness(40%) saturate(250%) ;
    z-index: 0;
}

.header {
 color: rgb(255, 255, 255);
 font-size: 4.7rem;
position: relative;
top:13.5rem;
left: 1rem;
text-align: center;
font-family: 'Heebo', sans-serif;
font-weight: 900;
animation: slide-top 2s forwards !important;
z-index: 1;
}

.margin {
    margin-top: -2rem;
    z-index: 1;

}

main {
    z-index: 11 !important;
}

.header2 {
    color: white;
    font-size: 2rem;
    font-family: 'Heebo', sans-serif;
    text-align: center;
animation: slide-top 2s forwards;
z-index: 100 !important;
position: relative;
top:13rem;
} 

.head {
    font-family: 'Heebo', sans-serif;
    z-index: 1;

    font-weight: 900;
}

.buttons {
    display: inline-block;
    margin-top: 1rem;
    font-size: 1.1rem;
    font-family: sans-serif;
    font-weight: 100;
    margin-right: 2rem;
    transform: translateX(20px);
    animation: slide-top 4s forwards;
    z-index: 10;
  
    &:hover{
        transform: translateX(20.5px);
    }
}

.btn {
    transform: translateX(.3rem) scale(.6) translateY(4px);
    font-weight: 100;
    animation: slide-top 4s forwards;

}

a {
    text-decoration: none;
}

.slide-top {
	-webkit-animation: slide-top 2s forwards;
            animation: slide-top 2s forwards;

}

 @-webkit-keyframes slide-top {
    0% {
     opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes slide-top {
    0% {
     opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
